body{
    margin: 0;
    background-color: rgb(82, 82, 82);
    text-align: center;
}

.title{
    color: rgb(247, 245, 129);
}

button{
    width: 300px;
    padding: 10px;
    
}

.container{
    background-color: rgb(54, 54, 54);
    padding-bottom: 20px;
    display: flex;
    flex-flow: column wrap;
    outline-style: dotted;
    align-content: center;
}

p{
    color: rgb(224, 228, 204);
}