
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font: 300 1em "Trebuchet MS", Arial, sans-serif;
}

/*navigation*/
.navbar {
  height: 6rem;
  display: flex;
  align-items: center;
  padding-left: 200px;
}

.nav_center{
  display: flex;
  align-items: center;
}

.nav_header{
  height: auto;
  margin-right: 2rem;
}

.nav_header img{
  width: 200px;
  align-items: center;
}

.nav_links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_link{
  margin-right: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #000000;
  text-decoration: none;
}

.nav_link:hover{
  color: #d8753b;
}

/* Container holding the head*/
.head_container {
  position: relative;
  text-align: center;
  color: #ffffff;
  font: 600 4em Georgia, Arial, sans-serif;
}

.head_container > div{
  background-color:rgba(0, 0, 0, 0.5);
}

.head_image {
  width: 1500px;
  height: 400px;
}

.head_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Container holding ingredients */
.ingredients_title {
  color: #d8753b;
  font: 600 1.6em;
  text-align: center;
  padding-bottom: 20px;
}

.ingredients_container {
  display: grid;
  grid-template: "a a a";
  grid-template-columns: repeat(3, 1fr);
  padding: 200px;
  padding-top: 30px;
  padding-bottom: 0px;
  column-gap: 20px;
}

.ingredients_container > div {
  background-color: rgb(255, 248, 210);
  width: 100%;
  transition: 1s;
  height: 100%;
  padding: 50px;
}

.ingredients_container >div:hover {
  background-color: rgb(255, 208, 154);
  transform: scaleX(1.05);
}

/*Unordered lists for ingredients*/
.unordered {
  list-style: none;
  display: list-item;
  line-height: 1.5rem;
  text-align: center;
}

/*Title for Instructions*/
.Instructions_title {
  color: #d8753b;
  font: 600 2.5em Georgia, Arial, sans-serif;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 80px;
  
}

.Instructions {
  align-items: center;
  background-color: rgb(255, 248, 210);
  margin-left: 200px;
  margin-right: 200px;
}

/* Container holding Instructions*/
.container_2 {
  display: grid;
  grid-template: "a a";
  grid-template-columns: repeat(3, 1fr);
  padding: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.container_2 > div{
  background-color: rgb(255, 248, 210);
  width: 100%;
  height: 100%;
  padding: 50px;
}

/*Ordered lists for steps and images */
.ordered {
  text-align: left;
  padding: 30px;
  list-style-type:decimal-leading-zero
}

/* Container holding the last step */
.last_step {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 200px;
  padding-top: 0px;
}

.last_step >div{
  background-color: rgb(255, 248, 210);
  width: 100%;
  height: 100%;
  padding: 50px;
}

h3{
  color: #ec712a;
  font: 600 2em Georgia, Arial, sans-serif;
  text-align: left;
  padding-top: 80px;
}